//This CSS below is for the ShopPage.jsx component
html {
    background-image: url(../../assets/stars.gif);
    background-repeat: repeat;
    background-position: center;
}

header {
    //The header contains only a p tag. Not really sure if it's needed but whatevs. This is used both on ShopPage.jsx and ItemPage.jsx
    text-align: center;
    position: absolute;
    top: 1vw;
    width: 100vw;

    p {
        //This is the title 
        font-family: "Comic Sans MS";
        color: chartreuse;
        font-size: 4vw;
    }
}

body {
    //This prevents the horizontal scroll bar from appearing
    overflow-x: hidden;
}


.shop-page-item-image {
    //This class is used with the images that will show each image on the main ShopPage
    min-width: 20vw;
    max-width: 20vw;
}

.shop-page-item-image-table {
    //This table contains each item that the user can pick as well as a title, a price, and a button to go to the specific page
    margin-top: 20vw;
    margin-bottom: -10vw;

    @-moz-keyframes spin {
        from {
            -moz-transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    p {
        font-size: 2vw;
        padding: 3vw;
    }

    img {
        margin-left: 3vw;
    }

    @media screen and (max-width: 430px) {

        //button looks different per screen res so I'm making two. This one is for iphones
        button {
            width: 34vw;
            height: 15vw;
        }
    }

    @media screen and (min-width: 430px) {

        //button looks different per screen res so I'm making two. This one is for computers
        button {
            width: 15vw;
            height: 10vw;
        }

        button:hover {
            animation-duration: 1ms;
            animation-iteration-count: infinite;
            animation-name: spin;
            animation-timing-function: linear;
            transition: rotate(3600deg);
            -webkit-animation-name: spin;
            -webkit-animation-duration: 1ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: spin;
            -moz-animation-duration: 1ms;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            -ms-animation-name: spin;
            -ms-animation-duration: 1ms;
            -ms-animation-iteration-count: infinite;
            -ms-animation-timing-function: linear;
            -o-transition: rotate(3600deg);
        }
    }



    //Maybe should change it so user can click on whole table element and the button is just an automatic add to cart feature

}

@media only screen and (max-width: 430px) {

    //This is to ensure it works on iphones
    #sort-div {
        //This is to ensure the select element works on iphones
        float: right;
        margin-right: 3vw;
        margin-top: 3vw;
        padding-top: 10vw;
    }

    //This goes in the ItemPage.jsx file, but I thought I'd put it here so I don't have to redo the @media thing
    #item-page-div {
        margin-top: -110vw;
    }
}

@media only screen and (min-width: 431px) {

    //This is to ensure the select element works on things that aren't iphones
    #sort-div {
        //This is the div that contains the select element to order the items
        float: right;
        margin-top: -4vw;
        margin-right: 3vw;
    }

    #item-page-div {
        margin-top: -10vw;
    }

    //This goes in the ItemPage.jsx file, but I thought I'd put it here so I don't have to redo the @media thing
}



/* ------------------------------------------------------------------------------------------------------------------------- */
//Below here is the CSS code that belongs to the ItemPage.jsx Component
#item-page-div {
    // height: 100vh;

    img {
        display: block;
        width: 20vw;
        // position: relative;
        margin-left: 40vw;
        margin-top: 25vw;
        margin-bottom: -16vw;
    }

    p {
        margin: 20vw 20vw 0 20vw;
        color: maroon;
        text-align: center;
        font-size: 2vw;

        // float: right;
    }

    button {
        display: block;
        width: 20vw;
        margin: 2vw 0 10vw 40vw;
    }
}

#try-it-on {
    //This is the positioning for the TryItOn component

    margin-left: 15vw;

    @media only screen and (max-width: 430px) {
        //This is to ensure it works on iphones
        margin-top: -90vw;
    }

    @media only screen and (min-width: 430px) {
        //This is to ensure it works on computers
        margin-top: -20vw;
    }

}

#item-page-arrow {
    position: absolute;
    margin-left: 3vw;
}

@keyframes sink {
    100% {

        transform: translateY(100vw);
    }

    0% {
        transform: translateY(0vw);
    }

}

select {
    animation-name: sink;
    animation-duration: 50s;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}


select:hover,
select:focus,
select:after {
    animation: sink 50s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

/* ------------------------------------------------------------------------------------------------------------------------- */




//Below here is the CSS code that belongs to the TryItOn Component
.zach-photo {
    //This is the cards that contain the images of zach as well as their added on stuff
    width: 45vw;
    position: absolute;
    margin-left: 12vw;
    z-index: 1;

}

.before-after-card {
    //This is called before and after card because it contains elements that will shift between being hidden in the before and shown in the after. 
    //Examples are the pan, the razor, etc. The cards are divs and they all contain the same picture (titled before) of me.



    position: relative;

    .item-image {
        z-index: 2;
    }
}


#nasacort {
    //This is the image of nasacort
    position: absolute;
    width: 1.3vw;
    margin-left: 29.6vw;
    margin-top: 7.8vw;
}

#furbo {
    //This is the image of the furbo
    position: absolute;
    width: 10vw;
    margin-left: 41.6vw;
    margin-top: 14vw;

}

#calvin {
    //This is the image of Calvin the cat
    position: absolute;
    width: 8vw;
    margin-left: 35.6vw;
    margin-top: 15vw;
}


#shoes {
    //This is the image of legs and New Balance Shoes
    position: absolute;
    width: 11vw;
    margin-left: 22.3vw;
    margin-top: 27vw;
}

#plants {
    //This is the image of the trio of plants
    position: absolute;
    width: 15vw;
    margin-left: 35vw;
    margin-top: 20vw;
}

#watering-can {
    //This is the image of a watering can
    position: absolute;
    width: 10vw;
    margin-left: 30.8vw;
    margin-top: 18.5vw;
}

#elkay {
    //This is the image of the elkay water filter
    position: absolute;
    width: 10vw;
    margin-left: 31.7vw;
    margin-top: 13.65vw;
}

#bottle {
    //This is the image of the hydroflask
    position: absolute;
    width: 2vw;
    margin-left: 36.8vw;
    margin-top: 17.6vw;
    transform: rotate(-90deg);
}

#money-bag {
    position: absolute;
    width: 10vw;
    margin-left: 28vw;
    margin-top: 18vw;
}

#money {
    width: 10vw;
    position: absolute;
}

.back-arrow {
    width: 10vw;
    padding-bottom: 4vw;
}

.hidden {
    visibility: hidden;
}