//This CSS below is for the ShopPage.jsx component
html {
    background-image: url(../src/assets/stars.gif);
    background-repeat: repeat;
    background-position: center;
}

header {
    //The header contains only a p tag. Not really sure if it's needed but whatevs. This is used both on ShopPage.jsx and ItemPage.jsx
    text-align: center;
    position: absolute;
    top: 1vw;
    width: 100vw;

    p {
        //This is the title 
        font-family: "Comic Sans MS";
        color: chartreuse;
        font-size: 4vw;
    }
}

body {
    //This prevents the horizontal scroll bar from appearing
    overflow-x: hidden;
}

@media only screen and (max-width: 430px) {

    //This is to ensure it works on iphones
    #sort-div {
        //This is to ensure the select element works on iphones
        float: right;
        margin-right: 3vw;
        margin-top: 3vw;
        padding-top: 10vw;
    }
}

@media only screen and (min-width: 431px) {

    //This is to ensure the select element works on things that aren't iphones
    #sort-div {
        //This is the div that contains the select element to order the items
        float: right;
        margin-top: -4vw;
        margin-right: 3vw;
    }
}


.shop-page-item-image {
    //This class is used with the images that will show each image on the main ShopPage
    min-width: 20vw;
    max-width: 20vw;
}

.shop-page-item-image-table {
    //This table contains each item that the user can pick as well as a title, a price, and a button to go to the specific page
    margin-top: 20vw;
    margin-bottom: -10vw;


    p {
        font-size: 2vw;
        padding: 3vw;
    }

    img {
        margin-left: 3vw;
    }

    button {
        //TODO Add CSS code for button
    }

    //Maybe should change it so user can click on whole table element and the button is just an automatic add to cart feature

}

//Below here is the CSS code that belongs to the ItemPage.jsx Component
#item-page-div {

    margin-top: -10vw;
    // height: 100vh;

    img {
        display: block;
        width: 20vw;
        // position: relative;
        margin-left: 40vw;
        margin-top: 25vw;
        margin-bottom: -16vw;
    }

    p {
        margin: 20vw;
        color: maroon;
        text-align: center;
        font-size: 2vw;

        // float: right;
    }
}


//Below here is the CSS code that belongs to the TryItOn Component
.zach-photo {
    //This is the cards that contain the images of zach as well as their added on stuff
    width: 45vw;
    position: absolute;
    margin-left: 12vw;
    z-index: 1;

}

.before-after-card {
    //This is called before and after card because it contains elements that will shift between being hidden in the before and shown in the after. 
    //Examples are the pan, the razor, etc. The cards are divs and they all contain the same picture (titled before) of me.
    margin-top: -20vw;
    margin-left: 10vw;

    .item-image {
        z-index: 2;
    }
}

#big-pan {
    //This is the image of the pan that is used for the big version of the pan
    position: absolute;
    width: 11vw;
    margin-left: 32.8vw;
    margin-top: 17.3vw;
}

#little-pan {
    //This is the image of the pan that is used for the little version of the pan
    position: absolute;
    width: 7vw;
    margin-left: 34.8vw;
    margin-top: 19vw;
}


#airpods {
    //This is the image of the airpod
    position: absolute;
    width: 1.3vw;
    margin-left: 27vw;
    margin-top: 6.5vw;
}

#strop {
    //This is the image of the strop
    position: absolute;
    transform: rotate(28deg);
    width: 11vw;
    margin-left: 27vw;
    margin-top: 17vw;
}

#razor {
    //This is the image of the razor blade 
    position: absolute;
    width: 4.5vw;
    margin-left: 33vw;
    margin-top: 18.5vw;
}

#pillow {
    //This is the image of the pillow case
    position: absolute;
    width: 14.5vw;
    margin-left: 22.4vw;
    margin-top: 0vw;
}

#nasacort {
    //This is the image of nasacort
    position: absolute;
    width: 1.3vw;
    margin-left: 29.6vw;
    margin-top: 7.8vw;
}

#furbo {
    //This is the image of the furbo
    position: absolute;
    width: 10vw;
    margin-left: 41.6vw;
    margin-top: 14vw;

}

#calvin {
    //This is the image of Calvin the cat
    position: absolute;
    width: 8vw;
    margin-left: 35.6vw;
    margin-top: 15vw;
}

#purifier {
    //This is the image of the Conway air purifier
    position: absolute;
    width: 8vw;
    margin-left: 35.6vw;
    margin-top: 15vw;
}

#shoes {
    //This is the image of legs and New Balance Shoes
    position: absolute;
    width: 11vw;
    margin-left: 22.3vw;
    margin-top: 27vw;
}

#masa {
    //This is the image of the heirloom masa set
    position: absolute;
    width: 11vw;
    margin-left: 29.3vw;
    margin-top: 17vw;
}

#bass {
    //This is the image of the Ibanez bass
    position: absolute;
    width: 25.5vw;
    margin-left: 19vw;
    margin-top: 14vw;
}

#guitar {
    //This is the image of Zach holding a flying V guitar
    position: absolute;
    width: 25.5vw;
    margin-left: 35vw;
    margin-top: 3.75vw;
}

#drums {
    //This is the image of Zach and a drum kit
    position: absolute;
    width: 22vw;
    margin-left: 11vw;
    margin-top: .9vw;
}

#singer {
    //This is the image of Zach and a drum kit
    position: absolute;
    width: 18vw;
    margin-left: 30vw;
    margin-top: -1vw;
}

#plants {
    //This is the image of the trio of plants
    position: absolute;
    width: 15vw;
    margin-left: 35vw;
    margin-top: 20vw;
}

#watering-can {
    //This is the image of a watering can
    position: absolute;
    width: 10vw;
    margin-left: 30.8vw;
    margin-top: 18.5vw;
}

.hidden {
    visibility: hidden;
}